
  <div class="item">
		<p>&hearts; &nbsp; <%= photo.likes.size %></p>
		<div class="img-wrap">
			<a href="<%= photo_url(photo) %>">
				<% unless photo.tag_list.empty? %>
				<div class="item-details"><%= photo.tag_list %></div>
				<% end %>
				<%= image_tag(photo.image_url(:thumb)) %>
			</a>
		</div>
		<!--<p>ermahgerd</p>-->
		<!--
		<% if current_user %>
		<div class="utilities">
			<% if current_user.voted_for? photo %>
			<a href="<%= unlike_photo_path(photo) %>" class="like btn selected">b</a>
			<% else %>
			<a href="<%= like_photo_path(photo) %>" class="like btn">b</a>			
			<% end %>
		</div>
		<% end %>
    <%= link_to(image_tag(photo.image_url(:thumb)), photo) %>
    <h2 class="lipsum"></h2>
    <div class="comments">
			<span class="likes"><span class="value"><%= photo.likes.size %></span> Likes</span>
    </div>
    -->
  </div>
