
<div id="photo-container">
	<div class="row">
		<div class="span8">
			<img src="<%= @photo.image_url %>" class="photo">
		</div>
		<div class="span4">

			<%= form_for(@photo, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>
			  <% if @photo.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

			      <ul>
			      <% @photo.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

				<div class="control-group">
					<%= f.label :source_url, "Source URL", :class => 'control-label' %>
				  <div class="controls">
						<%= f.text_field :source_url %>
					</div>
				</div>

				<div class="control-group">
					<%= label_tag :tags, "Tags", :class => 'control-label' %>
				  <div class="controls">
						<%= text_field_tag :tags, @photo.tag_list.join(', ') %>
					</div>
				</div>

				<div>
					<%= f.submit "Submit", :class => 'btn btn-primary' %>
					<%= link_to 'Cancel', @photo, :class => 'btn' %>
				</div>

			<% end %>
			
		</div>
	</div>
</div>
