
  <div style="margin: auto;">

    <h3 style="margin-bottom: 20px; text-align: center;">Send Us Your Photos!</h3>
    <p>We'd love your help contributing to the site! Whether it's your adorable pet after a hard day at the park, or something amazing you found on the internet, it doesn't matter! We want to see it. Use this form to send us your best stuff. If we like it, we'll post it on the site. The better the stuff you send us, the better the site gets.</p>

    <%= form_for(@photo, :url => upload_photo_path(@photo), :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>
      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="upload-file" class="control-group">
        <%= f.label :image, "Image File", :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :image %>
          <p>(or <a href="javascript:;" onclick="$('#upload-file, #upload-url').toggle();">use a url</a>)</p>
        </div>
      </div>

      <div id="upload-url" class="control-group" style="display:none;">
        <%= f.label :remote_image_url, "Image URL", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :remote_image_url, :placeholder => "http://" %>
          <p>(or <a href="javascript:;" onclick="$('#upload-file, #upload-url').toggle();">upload image</a>)</p>
        </div>
      </div>

      <% if current_user %>
      <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <% else %>
      <div class="control-group">
        <%= f.label :source_url, "Who are you?", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :source_url, :placeholder => "Your @twitter or website" %>
        </div>
      </div>
      <% end %>

      <% if current_user && current_user.is_admin? %>
      <div class="control-group">
        <%= f.label :source_url, "Source URL", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :source_url, :placeholder => "http://" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :tags, "Tags", :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :tags %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label><input type="checkbox" name="photo[approved_at]" value="<%= Time.now %>"/> Approved</label>
        </div>
      </div>
      <% end %>

      <div style="margin-left: 160px;">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <a href="javascript:;" onclick="modal.modal('hide');" class="btn">Cancel</a>
      </div>

    <% end %>

  </div>
