
  <div id="cutie-container">
    <div class="img-wrap">
      <img src="<%= @photo.image_url %>" class="photo">
    </div>
    <% if @photo.source_url.present? %>
      <% if @photo.source_url[0] == "@" %>
    <p>via <a href="http://twitter.com/<%= @photo.source_url %>" target="_blank"><%= @photo.source_url %></a></p>
      <% elsif (@photo.source_url[0..6] == 'http://') || (@photo.source_url[0..7] == 'https://') %>
    <p>via <a href="<%= @photo.source_url %>" target="_blank"><%= @photo.source_url.split("/")[2] %></a></p>
      <% else %>
    <p>via <a href="<%= @photo.source_url %>" target="_blank"><%= @photo.source_url %></a></p>
      <% end %>
    <% end %>
    <div class="social-container">
      <ul>
        <% if @photo.approved? %>
        <!--<li><a href="" id="like"></a></li>-->
        <li>
          <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftuckered.in&amp;source=tweetbutton&amp;text=It's just so cute!&amp;url=http%3A%2F%2Ftuckered.in%2Fcuties%2F<%= @photo.id %>&amp;via=tuckeredin" target="_blank" id="twitter" class="twitter-share-button" rel="tooltip" title="Share this on Twitter"></a>
        </li>
        <li><a href="https://www.facebook.com/dialog/feed?app_id=478208585544625&amp;link=http://www.tuckered.in/cuties/<%= @photo.id %>&amp;picture=<%= @photo.image_url %>&amp;name=Tuckered.In - It's just so cute!&amp;redirect_uri=http://www.tuckered.in/" id="facebook" rel="tooltip" title="Share this on Facebook"></a></li>
        <!--<li><a href="mailto:contact@tuckered.in" id="email" rel="tooltip" title="Email this to a friend"></a></li>-->
        <% elsif current_user && current_user.is_admin? %>
        <li><%= link_to '', approve_photo_path(@photo), confirm: 'Are you sure?', method: :post, :id => "heart", :rel => "tooltip", :title => "Approve this cutie!" %></li>
        <li><%= link_to 'Delete', delete_photo_path(@photo), confirm: 'Are you sure?', method: :delete, :rel => "tooltip", :title => "Delete from site!" %></li>
        <% end %>
      </ul>
    </div>
  </div>
