<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "Tuckered.In" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="submit" style="padding: 0px; margin: 0px;">

  <div style="margin: auto;">

    <h3 style="margin: 10px 0px 0px 20px;">Submit a Photo</h2>

    <%= form_for(@photo, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>
      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>

      <% if @from_cuddlet %>
      <div class="control-group">
        <%= f.label :remote_image_url, "Image URL", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :remote_image_url, :placeholder => "http://" %>
          <p>(or <a href="/upload">upload image</a>)</p>
        </div>
      </div>
      <% else %>
      <div class="control-group">
        <div class="controls">
          <%= f.file_field :image %>
          <p>(or <a href="/submit">use a url</a>)</p>
        </div>
      </div>
      <% end %>

      <div class="control-group">
        <%= f.label :source_url, "Source URL", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :source_url, :placeholder => "http://" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :tags, "Tags", :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :tags %>
        </div>
      </div>

      <% if current_user.is_admin? %>
      <div class="control-group">
        <div class="controls">
          <label><input type="checkbox" name="photo[approved_at]" value="<%= Time.now %>"/> Approved</label>
        </div>
      </div>
      <% end %>

      <div style="margin-left: 160px;">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <a href="javascript:;" onclick="window.close();" class="btn">Cancel</a>
      </div>

    <% end %>

  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32824482-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
