<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= content_for?(:title) ? yield(:title) : "Tuckered.In" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<meta property="og:title" content="Tuckered.In" />
	<meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.tuckered.in" />
	<!--<meta property="og:image" content="http://www.tuckered.in/images/tuckeredin_screenshot.jpg" />-->
	<meta property="og:site_name" content="Tuckered.In" />
</head>
<body class="index">
	<header id="hd">
		<div class="logo">
			<div class="wrapper">
				<h1><a href="/">Tuckered.In</a></h1>
				<div class="right">
					<ul>
						<li>
							<% if current_user %>
							  Welcome, <%= current_user.name %>!
							  <%= link_to "Sign Out", signout_path %>
							<% else %>
							  <%= link_to "Login with Twitter", "/auth/twitter" %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<nav>
			<div class="wrapper">
				<div class="top-menu">
					<ul>
						<% if current_user && current_user.is_admin? %>
						<li><a href="javascript:;" onclick="window.open('<%= upload_path %>','pin'+(new Date).getTime(),'status=no,resizable=yes,scrollbars=yes,personalbar=no,directories=no,location=no,toolbar=no,menubar=no,width=450,height=300,left=0,top=0');">Upload</a></li>
						<li><%= link_to "Cuddle!", "javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://www.tuckered.in/assets/cuddlet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" %></li>
						<% else %>
						<!--<li>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tuckered.in" data-text="OMG. This site is the cutest!" data-via="TuckeredIn">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</li>-->
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<% if alert # flesh out more: http://twitter.github.com/bootstrap/components.html#alerts %>
	<div class="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	  <%= alert %>
	</div>
	<% elsif notice %>
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	 	<%= notice %>
	</div>
	<% end %>
	<div class="wrapper">
		<div id="bd">
			<div class="wrapper">
				<div id="masonry">
				
<%= content_for?(:content) ? yield(:content) : yield %> 

				</div>
			</div>
		</div>
	</div>
	
	<div id="media-overlay"></di>
	<div id="media-view"></div>
	
  <%= javascript_include_tag "application" %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32824482-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>