<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= content_for?(:title) ? yield(:title) : "Tuckered.In" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="index">
	<header id="hd">
		<div class="logo">
			<div class="wrapper">
				<h1><a href="/">Tuckered.In</a></h1>
				<div class="right">
					<ul>
						<li>
							<% if current_user %>
							  Welcome, <%= current_user.name %>!
							  <%= link_to "Sign Out", signout_path %>
							<% else %>
							  <%= link_to "Login with Twitter", "/auth/twitter" %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<nav>
			<div class="wrapper">
				<div class="top-menu">
					<ul>
						<li><%= link_to "Submit", new_photo_path %></li>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="TuckeredIn">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
					</ul>
				</div>
			</div>
		</nav>
		<% if alert # flesh out more: http://twitter.github.com/bootstrap/components.html#alerts %>
		<div class="alert">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		  <%= alert %>
		</div>
		<% elsif notice %>
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
		 	<%= notice %>
		</div>
		<% end %>
	</header>
	<div class="wrapper">
		<div id="bd">
			<div class="wrapper">
				<div id="masonry">
				
<%= content_for?(:content) ? yield(:content) : yield %> 

				</div>
			</div>
		</div>
	</div>
</body>
</html>